{% extends 'pages/base.html' %}
{% load static %}
{% block title %}Welcome | SRDG{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'pages/styles/signup_success.css' %}">
{% endblock %}
{% block content %}
<div class="success-page">
    <div class="success-card">
        <div class="success-icon">✓</div>
        <h1>Welcome to SRDG</h1>
        <p class="success-message">
            Thank you for joining. You're now part of a community committed to discourse, action, and impact.
        </p>
        <p class="success-next">
            Please consider joining the discord server here:
        </p>
        <a href="https://discord.gg/UnwvSpGUg4">Join Us</a>
        <p class="success-next">
            Follow this link if you wish to apply as a registered staff member to lead and coordinate activities and events
        </p>
        <a href="https://docs.google.com/forms/d/10F1rkJ2qMB0tQZ33ruyfYo0Evj2aIRF_cNLcAl3XR2s/edit#responses">Signup form</a>
        <div class="success-actions">
            <a href="{% url 'home' %}" class="btn-home">Back to Home</a>
        </div>
    </div>
</div>
{% endblock %}
